.default-theme {
	$background: #eee;
	$border: #444452;
	$color: #33333e;
	$hover: lighten($color, 69%);

	background-color: $background;
	color: $color;

	.sheet {
		background-color: #fff;
		box-shadow: 0 0 10px #ccc;
	}

	.head {
		border-color: $border;
		padding-bottom: $pad * 1.2;
	}

	a {
		color: $color;
		&:hover {
			background-color: $hover;
		}
	}

	.contact-item {
		color: $color;
	}

	.section {
		h2 {
			border-color: $border;
		}
		.date {
			color: lighten($color, 40%);
		}
		.tag-item {
			border-color: lighten($color, 40%);
		}
	}
}
