// Style for printer

.printer {

	.controls,
	.download-btn {
		display: none;
	}

	.translation-btn {
		display: none;
	}

	.translation-text {
		display: none;
	}

	.date {
		position: absolute;
		right: 0;
		top: 0;
	}

	.sheet {
		margin: ($margin * 20) auto;
		position: relative;
		max-width: $pageSize;
		padding: $pad * 15;
		border: none;
		border-image-slice: none;
		border-image-source: none;
		border-width: none;
		border-style: none;
	}

	// .profile-image{
	// 	vertical-align:text-bottom !important;
	// 	height: 10%;
	// 	width: 10%;
	// 	margin: none !important;
	// 	border-radius: 50%;
	// }
	.name-link {
		color: #33333e !important;
	}
}